<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Edit Product</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0"/>
    <link rel="stylesheet" href="/CSS/Admin/addproduct.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
 
    <a href="/adminpanel"><i class="fa fa-arrow-circle-left"
         style="font-size:48px; color:white; margin-left:20px; " ></i></a>
   
<div class="main-form">
    <div class="container">
      <h1 class="form-title">Edit Product Details</h1>
      <form action="/update/<%= data[0].pid%>" method="post" enctype="multipart/form-data">
        <div class="main-product-info">
          <div class="product-input-box">
            <label for="ProductID">Product ID</label>
            <input type="number"
                    id="ProductId"
                    name="pid"
                    value="<%= data[0].pid%>"/>
          </div>
          <div class="product-input-box">
            <label for="ProductName">Product Name</label>
            <input type="text"
                    id="productName"
                    name="pname"
                    value="<%= data[0].PName%>"/>
          </div>
          <div class="product-input-box">
            <label for="Discription">Discription</label>
            <input type="text"
                    id="discription"
                    name="dis"
                    value="<%= data[0].Discription%>"/>
          </div>
          <div class="product-input-box">
            <label for="Discription">Catagory</label>
            <input type="text"
                    id="discription"
                    name="catagory"
                    value="<%= data[0].Catagory%>"/>
          </div>
          
          <div class="product-input-box">
            <label for="price">price</label>
            <input type="number"
                    id=""
                    name="price"
                    value="<%= data[0].price%>" />
          </div>
          <div class="product-input-box">
            <label for="price">Quantity</label>
            <input type="number"
                    id=""
                    name="quantity"
                    value="<%= data[0].quantity%>"/>
          </div>
          <div class="product-input-box" id="piture-box">
            <label for="product">Add Picture</label>
            <input type="file" id="" name="img"  value="<%= data[0].picture%>">
            
          </div>
        </div>
   
        <div class="form-submit-btn">
          <input type="submit" value="Add Product">
        </div>
      </form>
    </div>
</div>


  </body>
</html