<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admins List</title>
</head>
<body>
    <h1>Admins List</h1>
    <table border="1" width="100%" >
        <tr>
        <th>Admin_ID</th>
        <th>Admin_Name</th>
        <th>Admin_Address</th>
        <th>Admin_Phone-no</th>
        <th>Admin_Email</th>
        <th>Admin_Password</th>
        <th>Actions</th>
        </tr>
        <% if(admin.length>0){ %>
            <% for(var i=0;i<admin.length;i++){%>
                <tr>
                    <td><%= admin[i].admin_id%></td>
                    <td><%= admin[i].admin_name%></td>
                    <td><%= admin[i].admin_address%></td>
                    <td><%= admin[i].admin_phone%></td>
                    <td><%= admin[i].admin_email%></td>
                    <td><%= admin[i].admin_password%></td>
                    <td><a href="/delete-admin?id=<%= admin[i].admin_id%>">Delete</a>
                    <a href="/update-admin?id=<%= admin[i].admin_id%>">Update</a></td>
                </tr>
            <% } %>
            <% }else{ %>
                <h1>Students Not found</h1>
                <% } %>
    </table>

    
</body>
</html>