<h1>Update User</h1>
<form action="" method="Post" >
    <input type="text" name="Id" value="<%=user[0].user_id%>" placeholder="Enter ID" required><br><br>
    <input type="text" name="name" value="<%=user[0].user_name%>" placeholder="Enter Name"required><br><br>
    <input type="text" name="address" value="<%=user[0].user_address%>"placeholder="Enter Address"required><br><br>
    <input type="tel" name="phoneno" value="<%=user[0].user_phone%>"placeholder="Enter PhoneNumber"required><br><br>
    <input type="email" name="email" value="<%=user[0].user_email%>"placeholder="Enter email"required><br><br>
    <input type="text" name="Password" value="<%=user[0].user_password%>"placeholder="Enter Password"required><br><br>
    <input type="submit" value="Submit">
</form>  