<h1>Update Admin</h1>
<form action="" method="Post" >
    <input type="text" name="Id2" value="<%=admin[0].admin_id%>" placeholder="Enter ID" required><br><br>
    <input type="text" name="name2" value="<%=admin[0].admin_name%>" placeholder="Enter Name"required><br><br>
    <input type="text" name="address2" value="<%=admin[0].admin_address%>"placeholder="Enter Address"required><br><br>
    <input type="tel" name="phoneno2" value="<%=admin[0].admin_phone%>"placeholder="Enter PhoneNumber"required><br><br>
    <input type="email" name="email2" value="<%=admin[0].admin_email%>"placeholder="Enter email"required><br><br>
    <input type="text" name="Password2" value="<%=admin[0].admin_password%>"placeholder="Enter Password"required><br><br>
    <input type="submit" value="Submit">
</form>  