<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>
<body>
    <h1>Users List</h1>
    <table border="1" width="100%" >
        <tr>
        <th>User_ID</th>
        <th>User_Name</th>
        <th>User_Address</th>
        <th>User_Phone-no</th>
        <th>User_Email</th>
        <th>User_Password</th>
        <th>Actions</th>
        </tr>
        <% if(user.length>0){ %>
            <% for(var i=0;i<user.length;i++){%>
                <tr>
                    <td><%= user[i].user_id%></td>
                    <td><%= user[i].user_name%></td>
                    <td><%= user[i].user_address%></td>
                    <td><%= user[i].user_phone%></td>
                    <td><%= user[i].user_email%></td>
                    <td><%= user[i].user_password%></td>
                    <td><a href="/delete-user?id=<%= user[i].user_id%>">Delete</a>
                    <a href="/update-user?id=<%= user[i].user_id%>">Update</a></td>
                </tr>
            <% } %>
            <% }else{ %>
                <h1>Students Not found</h1>
                <% } %>
    </table>

    
</body>
</html>