<!DOCTYPE html>
<html>
<head>
	<title>Invoice Template Design</title>
	<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

:root {
  --primary:  rgb(141, 113, 35);
  --secondary: #3d3d3d; 
  --white: #fff;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body{
	background: var(--secondary);
	padding: 50px;
	color: var(--secondary);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}

.bold{
	font-weight: 900;
}

.light{
	font-weight: 100;
}

.wrapper{
	background: var(--white);
	padding: 30px;
}

.invoice_wrapper{
	border: 3px solid var(--primary);
	width: 700px;
	max-width: 100%;
}

.invoice_wrapper .header .logo_invoice_wrap,
.invoice_wrapper .header .bill_total_wrap{
	display: flex;
	justify-content: space-between;
	padding: 30px;
}


.invoice_wrapper .header .logo_sec .title_wrap{
	margin-left: 5px;
}

.invoice_wrapper .header .logo_sec .title_wrap .title{
	text-transform: uppercase;
	font-size: 18px;
	color: var(--primary);
}

.invoice_wrapper .header .logo_sec .title_wrap .sub_title{
	font-size: 12px;
}

.invoice_wrapper .header .invoice_sec,
.invoice_wrapper .header .bill_total_wrap .total_wrap{
	text-align: right;
}

.invoice_wrapper .header .invoice_sec .invoice{
	font-size: 28px;
	color: var(--primary);
}


.invoice_wrapper .header .invoice_sec .invoice_no span:first-child,
.invoice_wrapper .header .invoice_sec .date span:first-child{
	width: 70px;
	text-align: left;
}

.invoice_wrapper .header .invoice_sec .invoice_no span:last-child,
.invoice_wrapper .header .invoice_sec .date span:last-child{
	width: calc(100% - 70px);
}

.invoice_wrapper .header .bill_total_wrap .total_wrap .price,
.invoice_wrapper .header .bill_total_wrap .bill_sec .name{
	color: var(--primary);
	font-size: 20px;
}

.invoice_wrapper .body .main_table .table_header{
	background: var(--primary);
}

.invoice_wrapper .body .main_table .table_header .row{
	color: var(--white);
	font-size: 18px;
	border-bottom: 0px;	
}

.invoice_wrapper .body .main_table .row{
	display: flex;
	border-bottom: 1px solid var(--secondary);
}

.invoice_wrapper .body .main_table .row .col{
	padding: 10px;
}
.invoice_wrapper .body .main_table .row .col_no{width: 45%;}
.invoice_wrapper .body .main_table .row .col_des{width: 45%;}
.invoice_wrapper .body .main_table .row .col_price{width: 45%; text-align: center;}
.invoice_wrapper .body .main_table .row .col_qty{width: 45%; text-align: center;}
.invoice_wrapper .body .main_table .row .col_total{width: 45%; text-align: right;}

.invoice_wrapper .body .paymethod_grandtotal_wrap{
	display: flex;
	justify-content: space-between;
	padding: 5px 0 30px;
	align-items: flex-end;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .paymethod_sec{
	padding-left: 30px;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec{
	width: 30%;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p{
	display: flex;
	width: 100%;
	padding-bottom: 5px;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span{
	padding: 0 10px;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span:first-child{
	width: 60%;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span:last-child{
	width: 40%;
	text-align: right;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p:last-child span{
	background: var(--primary);
	padding: 10px;
	color: #fff;
}

.invoice_wrapper .footer{
	padding: 30px;
}

.invoice_wrapper .footer > p{
	color: var(--primary);
	text-decoration: underline;
	font-size: 18px;
	padding-bottom: 5px;
}

.invoice_wrapper .footer .terms .tc{
	font-size: 16px;
}
.cta {
	text-decoration: none;
	float: right;
	margin-right: 30px;
	display: inline-block;
	padding: 10px 30px;
	color: black;
	background-color: transparent;
	border: 3px solid rgb(141, 113, 35);
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
    padding-left: 30px;
    padding-right: 30px;
}

.cta:hover {
	color: white;
	background-color: rgb(141, 113, 35);
}
    </style>
</head>
<body>

<div class="wrapper">
	<div class="invoice_wrapper">
		<div class="header">
			<div class="logo_invoice_wrap">
				<div class="logo_sec">
					
					<div class="title_wrap">
						<p class="title bold">Pets World</p>
						<p class="sub_title">Pets Shoppig Store</p>
					</div>
				</div>
				<div class="invoice_sec">
					<p class="invoice bold">INVOICE</p>
					<p class="date">
						<span class="bold">Date</span>
						<span><%=new Date()%></span>
					</p>
				</div>
			</div>
			<div class="bill_total_wrap">
				<div class="bill_sec">
					<p>Bill To</p> 
	          		<p class="bold name"><%=username%></p>
			        <span>
			       <%=address%><br/>
			        <%=phone%>
			        </span>
				</div>
			</div>
		</div>
		<div class="body">
			<div class="main_table">
				<div class="table_header">
					<div class="row">
						<div class="col col_no">NO.</div>
						<div class="col col_des">Product ID</div>
						<div class="col col_price">PRICE</div>
						<div class="col col_qty">QTY</div>
						<div class="col col_total">TOTAL</div>
					</div>
				</div>
				<%let i=0 %>
				<% data.forEach(function(item){ %>
				<div class="table_body">
					<div class="row">
						<div class="col col_no">
							<p> <%=++i%></p>
						</div>
						<div class="col col_des">
							<p class="bold"> <%=item.pid%></p>
						</div>
						<div class="col col_price">
							<p><%=item.price %></p>
						</div>
						<div class="col col_qty">
							<p><%=item.quantity %></p>
						</div>
						<div class="col col_total">
							<p><%=item.total%></p>
						</div>
					</div>
			</div>
			<% }); %>
			<div class="paymethod_grandtotal_wrap">
				<div class="paymethod_sec">
					<p class="bold">Payment Method</p>
					<p>Cash on Delivery</p>
				</div>
				<div class="grandtotal_sec">
			       	<p class="bold">
			            <span>Grand Total</span>
			            <span>Rs   <%=data2%></span>
			        </p>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="terms">
		        <p class="tc bold">Terms & Coditions</p>
		        <p>Oder will be delivered within 7 days. You will be able to return or replace oder within 15 days after delivery.</p>
		    </div>
		</div>
	</div>
</div>
<a href="/confirmoder?phone=<%=phone%>&adress=<%=address%>" type="button" class="cta">Confrim</a>


</body>
</html>
